body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
}

.page {
    /* width: 21cm;
    min-height: 29.7cm; */
    width: 29.7cm;
    min-height: 21cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
    margin-top: 20px;
    size: landscape;
}

@page land {
    size: A4 landscape;
}

.landscape {
    page: land;
}


/* @page land{ size:A4 landscape;}
@page port {size: portrait;}
.portrait {page: port;}
.landscape {page: land;} */

@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        /* width: initial;
        min-height: initial; */
        width: 29.7cm;
        min-height: 21cm;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.center {
    text-align: center;
}


/* Borders (if you need them) */

.header,
.header-space,
.footer,
.footer-space {
    height: 30px;
}

.header {
    position: fixed;
    top: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
}